.listing-show-header
	%h5
		= material_icon.md_24.email.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 
			= t("model.#{controller_name.singularize}.description.title")
		%p 
			= t("model.#{controller_name.singularize}.description.body")
	