%tr{ id: "row-#{message.id}" }
	- if can? :destroy_multiple, KepplerContactUs::Message
		%td.item-check{style:"width: 5%"}
			= link_to "", message_path(message), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{message.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{message.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{message.id}" }

		%td{style:"width: 5%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				- if message.read
					%i.icon-envelope-open
				- else
					%i.icon-envelope
		%td{style:"width: 15%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				= link_to message_path(message, search: @query) do
					= message.name
		%td.hide-on-small-and-down{style:"width: 55%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				= "<b>#{message.subject}</b> - #{message.content.truncate(40)}".html_safe
		%td.hide-on-small-and-down{style:"width: 40%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				.pull-right
					= time_ago_in_words(message.created_at)
