= title(t('keppler.titles.show', model: t("keppler.models.pluralize.messages")))
.col-md-3
	= render 'keppler_contact_us/messages/folders'

.col-lg-9
	.box.slice-box
		.box-header.with-border
			.pull-right
				= link_to message_path(@message), class: "btn btn-default", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					%i.icon-trash
					Delete

		.box-body.no-padding
			.mailbox-read-info
				%h3= @message.subject
				%h5
					= "#{t('keppler.messages.from')}: #{@message.email}"
					%span.mailbox-read-time.pull-right= time_ago_in_words(@message.created_at)
			.mailbox-read-message
				= @message.content
		.box-footer

			.box.slice-box
				.box-header.with-border
					%h3.box-title
						Responder a
						%strong= "#{@message.email}"

				= simple_form_for @reply, url: message_reply_path(@message), :method => :post do |f|
					.box-body
						.form-group
							%input{type: "hidden", name: "Hacia", value: "#{@message.email}"}
							%input.form-control{:placeholder => "To: #{@message.email}", disabled: "disabled", name: "to"}/
						.form-group
							= f.input :subject, label: false, placeholder: "asunto"
						.form-group
							= f.input :content, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
					.box-footer
						.pull-right
							= f.submit "Enviar", class: "btn-primary"
