= title(t('keppler.titles.show', model: t("keppler.models.pluralize.messages")))
.col-md-3
	= render 'keppler_contact_us/messages/folders'

.col-lg-9
	.box.slice-box
		.box-header.with-border
			.pull-right
				= link_to message_path(@message), class: "btn btn-default", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					%i.fa.fa-trash-o
					Delete
		/ /.box-header
		.box-body.no-padding
			.mailbox-read-info
				%h3= @message.subject
				%h5
					= "#{t('keppler.messages.from')}: #{@message.email}"
					%span.mailbox-read-time.pull-right= time_ago_in_words(@message.created_at)
			.mailbox-read-message
				= @message.content
		.box-footer

		/ /.box-footer

		/ /.box-footer
